<%-include ("partials/header")%>
<div class="container edit" style="text-align: justify;">
    <div class="row">
        <div class="col-md-10">
            <div class="thumbnail">
                <img class="image-responsive" src="<%= game.image%>">
                <div class="caption-full">
                    <h4><%= game.name%></h4>
                    <p>
                        <%= game.description%>
                    </p>
                    <p>
                        <em>Created By <strong><%=game.author.username%></strong></em>
                    </p>
                        <%if(currentUser && game.author.id.equals(currentUser._id)){%>
                        <a class="btn btn-warning"  href="/games/<%=game._id%>/edit">Edit</a>
                        <form id="delete" action="/games/<%=game._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <%}%>
                </div>    
            </div>
            <div class="well">
                <div class="text-right">
                        <a class="btn btn-success btn-md" href="/games/<%= game._id%>/comments/new">ADD COMMENTS</a>
                </div>
                <hr>
                <% game.comments.forEach(function(comment){%>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%=comment.author.username%></strong>
                        <p>
                            <%= comment.text%>
                        </p>
                        <%if(currentUser && comment.author.id.equals(currentUser._id)){%>
                        <a class="btn btn-warning btn-sm"  href="/games/<%=game._id%>/comments/<%=comment._id%>/edit">Edit</a>
                        <form id="delete" action="/games/<%=game._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        <%}%>
                    </div>
                </div>
                 <%})%>
            </div>
        </div>
    </div>
</div>

<%-include ("partials/footer")%>

